# ─── Base de datos ───────────────────────
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=appdb

# ─── NestJS ──────────────────────────────
NODE_ENV=production
PORT=3000
JWT_SECRET=jwt

# ─── URLs ────────────────────────────────
API_URL=http://backend:3000
